<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
4年生の6月、同級生から教えてもらいました。<br>
「Yahoo! Japanの夏休みの短期インターンシップが開催されるから加してみようか？」<br>
日本のIT企業の中で、GoogleとYahoo! Japanは巨人です。とてもいいチャンスでした。<br>
<br>
そして、そのインターンシップの情報を調べました。しかしそれは、院生2年生と博士3年生に限られた応募条件でした。<br>
<br>
でも、例外があるのではないかと思い、とりあえず申し込みをしよう。そう思い応募フォームに入力しました。<br>
<br>
期待していませんでしたが、募集終了日に、突然電話が来ました。<br>
<br>
「Yahoo! Japanですが、〇〇月〇〇日にご面談はできますか？」<br>
<br>
面談日まで2週間ぐらい時間がありました。<br>
<br>
私は日本語力に自身がないため、別の方法で、アピールしないければいけません。<br>
自分の強みは、プログラミングと、自然言語処理です。このインターンシップのテーマは検索エンジン作成。<br>
<br>
それで、検索アルゴリズムを学ぶ一方で、Yahoo! のBing検索エンジンに対して、調査しました。調査の結果で、ベトナム語に対して検索精度があまり良くないと判明しました。原因はベトナム語の符号があるため。その調査結果をプレゼンテーションでまとめて、解決方法も提案しました。<br>
<br>
面談では最初に検索に関するアルゴリズムの質問がありました。その後、<br>
「ちょっとプレゼンテーションをさせてください」<br>
面談の3人はとても驚いていらっしゃいましたが、快くお話を聞いて頂けました。<br>
<br>
1週間後に、結果が届きました。<br>
「〇〇月〇〇日から〇〇月〇〇日までYahoo! Japanに来てください」<br>
<br>
このインターンシップの学生は私を含めて、5人でした。みんなは院生2年生、博士3年生。有名な大学から来ていました。（電通大、東工大、京大）。<br>
<br>
それぞれ一人のメンターと一緒に行い、2週間で「Twitterのツイートでの検索エンジン開発コンテスト」が開催されました。最後にYahoo! <br>Japanの社内エンジニアたちの前でプレゼンテーションを行うこと。<br>
<br>
私のメンターは検索部門のクニックリーダーでした。お陰様で、「最速の最適化エンジン」ができ、プレゼンテーションで圧勝しました。<br>
<br>
Yahoo! Japanでのインターンシップは2週間だけでしたが、とても感動しました。<br>
<br>
世界レベルエンジニアの姿が見えました。知識、スピードなどすべてTopエンジニアです。今まで、私は自分の技術に自信を持っていましたが、彼らと比べると自分はまだまだ未熟だと感じました。<br>
<br>
インターンシップが終わった後も、世界レベルになるように、技術、スキルを毎日に一生懸命勉強しました。<br>
<br>
卒業したから、5年後にオフショア開発会社のCEOになりました（笑）。<br>
</div><!--//summary-->
</section><!--//section-->
