<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
<!--                 <div class="intro">
                    <p></p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="https://wellmeshi.com/" target="_blank">ウェルメシ - Healthy Restaurant Guide</a></span> <br> <span class="project-tagline">
                        ・クライアント： [株式会社DeNA](http://dena.com/jp/) <br>
                        ・役割：PM <br>
                        ・スキル：Ruby on Rails, iOS開発知識, Android開発知識、API設計
                    </span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="https://www.itec.co.jp/" target="_blank">IT資格学習スタイルを提供する iTEC</a></span> <br> <span class="project-tagline">
                        ・クライアント：  [株式会社アイテック](https://www.itec.co.jp/about/pdf/itec_catalog.pdf) <br>
                        ・役割：PM <br>
                        ・スキル：PHP、EC cube、EC
                    </span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="http://minagine.jp/" target="_blank">Minagine - みんなの人事部</a></span> <br> <span class="project-tagline">
                        ・クライアント：  [株式会社ミナジン](http://minagine.jp/about/) <br>
                        ・役割：PMO、Technical Support <br>
                        ・スキル：Ruby on Rails、ドメイン駆動設計
                    </span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="https://artstand.jp/" target="_blank">ART STAND 世界に一つのモノマーケット</a></span> <br> <span class="project-tagline">
                        ・クライアント：  [株式会社オウケイウェイヴ](http://www.okwave.co.jp/) <br>
                        ・役割：PMO、Technical Support <br>
                        ・スキル：Ruby on Rails、ペイメント決済、EC
                    </span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="https://www.aidtower.jp/" target="_blank">オンラインカルチャースクール</a></span> <br> <span class="project-tagline">
                        ・クライアント： [Canyon Mind Co.,Ltd | 株式会社キャニオン・マインド](http://canyonmind.com/)<br>
                        ・役割：PM <br>
                        ・スキル：Ruby on Rails、WebRTC
                    </span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="http://hhapp.jp/" target="_blank">HappyHours</a></span> <br> <span class="project-tagline">
                        ・クライアント： [コイニー株式会社](http://coiney.com/corp/) <br>
                        ・役割：PM <br>
                        ・スキル：Ruby on Rails, iOS開発知識, Android開発知識、API設計
                    </span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="https://socica.jp/" target="_blank">Social Card System</a></span> <br> <span class="project-tagline">
                        ・クライアント： [socica（ソシカ）株式会社](https://socica.jp/) <br>
                        ・役割：PM <br>
                        ・スキル：Laravel, iOS開発知識, Android開発知識、API設計、ペイメント決済
                    </span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="http://web.all-in.xyz/" target="_blank">ALL-IN　中小企業・ベンチャー向けクラウドERP</a></span> <br> <span class="project-tagline">
                        ・クライアント：  クライアント： [株式会社ビジネスバンクグループ ](http://bbank.jp/)<br>
                        ・役割：PM <br>
                        ・スキル：Ruby on Rails, DBデザイン、会計知識、ドメイン駆動設計                    
                        </span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="https://premium.okwave.jp/" target="_blank">QA会員ビジネス</a></span> <br> <span class="project-tagline">
                        ・クライアント：　 [株式会社オウケイウェイヴ](http://www.okwave.co.jp/) <br>
                        ・役割：メンバー <br>
                        ・スキル：Ruby on Rails、キャリア決済
                    </span>
                    <br/>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Q&amp;A自動取得クローラ開発</a></span> <br> <span class="project-tagline">
                        ・クライアント：  [株式会社オウケイウェイヴ](http://www.okwave.co.jp/) <br>
                        ・役割：メンバー <br>
                        ・スキル：Python、自然言語処理、機械学習、パターン認識、クローラー
                    </span>
                </div><!--//item-->
            </section><!--//section-->